#loginPage {
  .loginWithEmailPasswordContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: auto;
  }
  .formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    // make it colorful

    background-color: #ffb9b9;
    background-image: linear-gradient(315deg, #ffb9b9 0%, #ffbf86 74%);


    h1 {
      color: rgb(0, 0, 255);
      margin-bottom: 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 29px;
      background-color: #fff1f1;
      box-shadow: inset 0px 0px 17px 0px #ffb9b9;
      margin: auto;
      width: 100%;
      max-width: 450px;
      gap: 10px;
      label {
        // margin-left: 0px;
      }
      button {
        margin-top: 20px;
      }
    }
    .extraActions{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        a {
            color: blue;
        }
    }
  }
}
