.smallSingleErrorMessageContainer {
  background-color: rgb(255, 0, 0);
  padding: 8px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .text {
    flex-grow: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    .errorIconContainer {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }
  .closeIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
  }
}
